---
import { css } from "../../styled-system/css";
import tamaListening from "../assets/tama_listening.png";
import "../index.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section class={css({ flexGrow: "1" })}>
		<h2 class={css({ marginBlock: "x2" })}>under construction</h2>
		<img src={tamaListening.src} alt="tama listening" />
	</section>
</Layout>
