---
import { css } from "../../styled-system/css";
---

<header class={css({ display: "flex", padding: "x2" })}>
	<h1 class={css({ fontSize: "2xl", fontWeight: "bold" })}>momochitama.com</h1>
</header>
